* { margin: 0; padding: 0; }

:root{
    --bg-color: #f3f0e9;
    --ff--ss: "Lato", sans-serif;
    --ff-ss-two: "Karla", sans-serif;
}

body{
    font-family: var(--ff-ss-two);
    background-color: var(--bg-color);
    margin: 0;
}

h1,
h2,
h3,
h4,
nav{
    text-transform: uppercase;
    font-family: var(--ff-ss);
    font-weight: 550;
}

h1{
    font-weight: 700;
    font-size: 2rem;
    color: white;
}
h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.375rem;
}
h4{
    font-weight: 600;
    color: #d69e3d;
}
p{
    font-weight: 300;
    font-size: 1rem;
}
button{
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

button:hover{
    color: white;
    background-color: #d69e3d;
}
hr{
    border: 0.5px solid rgb(255, 255, 255);
    opacity: 0.2;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.skip-links a{
    position: absolute;
    top: -3em;
}
.skip-links a:focus{
    top: 0;
}
a{
    background-color: #ffffff;
    color: #000000;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    transition: background-color 0.3s ease;
    width: 100px;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border: #ffffff 2px solid;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px white;
    width: 116px;
}

.top{
    
    background-image: url("../images/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    width: 100%;
    top: 0;
    display: flex;
    position: absolute;
}
.topbg{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top p{
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.2;
}
.top h1{
    padding-top: 250px;
    text-align: center;
}

header{
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 0px;
    background-color: #676563;
    position: absolute;
}
header div{
    position: relative; 
    z-index: 1;
}

.nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2rem;
  
    z-index: 1;
}
.nav input{
    display: none;
}
.checkbtn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    position: fixed;
    padding-top: 5px;
}
.navitems{ 
    display: none; 
    position: absolute;
 
    padding-top: 3rem;
    right: 0px;
}

/*Show menu items if checked*/
#check:checked ~ .navitems {
    display: block;
}

.welcome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    margin-top: 700px;
    width: 100%;
    background-color: var(--bg-color);
}
.welcome h4, .welcome h2{
    text-align: left;
    margin-left: 20px;
}
main img{
    width: calc(100% - 40px);
    height: 100%; 
    object-fit: cover;
    margin-left: 20px;
}
.divformat{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}


.offerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.offer p, h4, h2, h3{
    text-align: center;
    margin-top: 20px;
}
.offer img{
    width: 40%;
    height: 100%; 
    margin-top: 20px;
    margin-left: -5px;
}

.menu{
    height: 80vh;
    background-image: url(../images/coffee-shop.jpeg);
    background-size: contain;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu div{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    align-content: center;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
.menu button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.about{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.about h2, .about h4, .about p, .about button{
    text-align: left;
    line-height: 1.3;
    margin-left: 20px;
    margin-bottom: 10px;
}
.testimonials{
    display: grid;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}
.testimonials h2, .testimonials h4, .testimonials p{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}
.group{
    position: relative;
    margin-bottom: 40px;
}
.testimonials img{
    opacity: 0.7;
}
.text{
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 1;
    width: 80%;
    line-height: 1.5;
}
footer{
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 200px;
}

/*Tablet*/
@media screen and (min-width: 768px) {
    h1{
        font-size: 3rem;
     }

    h2{
        font-size: 2.375rem;
    }

    h3{
        font-size: 1.75rem;
    }

    h4{
        font-size: 1rem;
    }

    p{
        font-size: 1rem;
    }
    .top p, .top h1{
        width: 80%;
    }
    .top{
        background-position: center;
    }
    .welcome h2{
        width: calc(50% - 30px);
    }
    .welcomeimgs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    .welcomeone{
        margin-left: 20px;
    }
    .welcomeimgs img{
        width: calc(50% - 30px);
        margin: 0; 
        padding: 0;
    }
    .divformat{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0px;
    }
    .divformat img{
        flex-basis: calc(50%-0px);
        height: auto;
    }
    
    .offerdiv img{
        height: auto;
        width: 150px;
    }
    .offer {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .offer div:nth-child(1){
        grid-column: 1 / span 4;
        margin-top: 50px;
    }
    .offer div:nth-child(2){
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        margin-left: 40px;
    }
    .offer div:nth-child(3){
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
        margin-bottom: 1rem;
        margin-right: 40px;
    }
    .offer div:nth-child(4){
        grid-column: 1 / span 4;
        grid-row: 4 / span 2;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .group{
        width: 350px;
        height: auto;
    }

    .testimonials{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 0px;
        padding: 40px;
        justify-items: center;
    }
    .testimonials .group:first-child{
        margin-top: 100px;
        width: 600px;
        grid-column: 1 / span 3;
        justify-self: left;
    }
    .testimonials .group:nth-child(2){
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        margin-top: -200px;
        margin-bottom: 200px;
    }
    .testimonials .group:nth-child(3){
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
        margin-top: -200px;
        margin-bottom: 200px;
    }
    .testimonials .group:nth-child(4){
        grid-column: 1 / span 4;
        grid-row: 3 / span 1;
        justify-self: center;
        margin-top: -100px;
        margin-bottom: 100px;
    }
}

/*Large screens*/
@media screen and (min-width: 1100px) {

  h1{
    font-size: 3.875rem;
  }

  h2{
    font-size: 3rem;
  }

  h3{
    font-size: 2rem;
  }

  h4{
    font-size: 1rem;
  }

  p{
    font-size: 1rem;
  }

  a{
    background-color:transparent;
    color: #ffffff;
    padding: 20px;
    width: 116px;
  }
  .checkbtn{
    display: none;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
  }
  .navitems{
    display: flex;
    position: absolute;
    margin-top: -50px;
  }

  .offer {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .offer div:nth-child(1){
        grid-column: 1 / span 4;
        margin-top: 100px;
    }
    .offer div:nth-child(2){
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        
    }
    .offer div:nth-child(3){
        grid-column: 2 / span 1;
        grid-row: 2 / span 2;
    }   
    .offer div:nth-child(4){
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
        margin: 0px;
        margin-right: 40px;
    }

    .menu{
        flex-direction: row;
    }
    .menu div{
        width: 100%;
        height: auto;
    }
    .about{
        flex-direction: row;
        margin: 50px;
    }

    .group{
        width: auto;
        height: 500px;
    }
     .testimonials{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0;
    }
    .testimonials .group:nth-child(2){
        grid-row: 2 / span 1;
        margin-left: 0%;
        margin-right: 50%;
        margin-top: -300px;
    }
    .testimonials .group:nth-child(3){
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: -300px;
    }
    .testimonials .group:nth-child(4){
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        margin-left: 0%;
        margin-top: -300px;
    }
    footer{
        margin-top: -200px;
    }
}